*
{
  box-sizing: border-box;
}
body
{
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1
{
  text-align: center;
  text-shadow: 0.4rem 0.4rem 0.4rem #888;
}
.game
{
  width: 300px;
}
header
{
  width: 100%;
  font-size: 24px;
  text-align: center;
}
.grid
{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  width: 100%;
  aspect-ratio: 1/1;
}
.cell
{
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid #000;
  cursor: pointer;
  transition: 500ms ease;
  z-index: 1;
  font-size: 0;
  aspect-ratio: 1 / 1;
}
.cell:nth-of-type(even)
{
  background-color: tomato;
}
.cell:hover
{
  z-index: 2;
  font-size: 4rem;
  box-shadow: 0 0 0.8rem #000;
}
.cell.filled
{
  font-size: 5vw;
}
#popup
{
  position: fixed;
  box-shadow: 0 0 0.4rem #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  padding: 3.2rem;
  border: 1px solid #000;
  border-radius: 1.6rem;
  background-color: #000;
  color: #fff;
  opacity: 0;
  z-index: -1;
  transition: 250ms ease-in-out;
}